.box {
  padding: 20px;
}

.top {
  width: 100%;
}

.bottom {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  min-height: 64px;
  background-color: #035A8B;
}

footer {
  min-height: 150px;
  background-color: #035A8B;
}