section {
  width: 800px;
  height: 800px;
  border: solid red 5px;
  display: grid;
  grid-template-columns: 50% auto auto auto;
  grid-template-rows: 80% auto;
}

article {
  background-color: blue;
  margin: 10px;
}

/* #article1 {
grid-column: 1/3;
  } */

