@media only screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
  }

  .box {
    padding: 0px;
    display: flex;
    flex-direction: column;
  }

  .top {
    position: relative;
    width: 100%;
  }

  .bottom {
    width: 100%;
    min-width: 600px;
  }

  section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .banner-image {
    display: block;
    width: 100%;
  }

  /* Cookie message styles */

  #cookie-message {
    position: fixed;
    background-color: #f9edbe;
    color: #000000;
    text-align: center;
    padding: 10px;
    z-index: 9999;
    width: 500px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    border-radius: 15px;
  }

  #closeButton {
    background-color: #035A8B;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 15px;
  }

  #closeButton:hover {
    background-color: #01456d;
    color: #c1d7e4;
  }

  #closeButton:active {
    background-color: #035A8B;
    color: #F8EE95;
  }

  h1 {
    margin: 0;
    background: url("img\rental_page.png") no-repeat;
    width: 100%;
    height: 600px;
  }

  .rental-page::before {
    content: "If you do not need lessons but you would like to rent a wetsuit or\A surf/kite equipment you can easily do it. We will help you choose the\A right option if you need advice.\A\A You can see the list of available gear below. If you have any specific\A request, let us know, we will try to help! ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-family: "Roboto";
    font-weight: Bold;
    color: white;
    text-align: center;
    white-space: pre;
  }

  table {
    font-family: "Roboto";
    font-size: 14px;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  /* Coloring the table's odd and even lines */
  table tr:nth-child(even) {
    background-color: #CFF;
  }
  
  table tr:nth-child(odd) {
    background-color: #FFF;
  }

  th {
    background-color: lightgray;
  }

  td,
  th {
    border: 1px solid #b4b4b4;
    text-align: left;
    padding: 8px;
    min-width: 190px;
  }

  /* Header styles */
  header {
    min-height: 64px;
    background-color: #035A8B;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  /* Styles for logo image in the header */
  #headerLogoImg {
    width: 65px;
    height: 65px;
    margin-left: 30px;
    margin-right: 20px;
  }

  header ul {
    display: flex;
    list-style: none;
  }

  header li {
    margin-right: 20px;
  }

  header li > a {
    font-family: "Roboto";
    color: white;
    font-weight: bolder;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
  }

  .rental-link {
    color: #F8EE95;
  }

  /* Footer styles */
  footer {
    min-height: 150px;
    background-color: #035A8B;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  footer nav {
    display: flex;
    flex-direction: row;
  }

  /* Position the copyright text */
  #copyrightInfo {
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: #F8EE95;
  }

  footer ul {
    display: flex;
    list-style: none;
  }

  footer li {
    margin-right: 30px;
    list-style: none;
  }

  footer li > a {
    font-family: "Roboto";
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
  }
}

@media only screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .box {
    padding: 0px;
    display: flex;
    flex-direction: column;
  }

  .top {
    position: relative;
    width: 100%;
  }

  .bottom {
    width: 100%;
    min-width: 600px;
  }

  section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .banner-image {
    display: block;
    width: 100%;
  }

  #cookie-message {
    position: fixed;
    background-color: #f9edbe;
    color: #000000;
    text-align: center;
    padding: 10px;
    z-index: 9999;
    width: 420px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    border-radius: 15px;
    font-size: 14px;
  }

  #closeButton {
    background-color: #035A8B;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 15px;
  }

  #closeButton:hover {
    background-color: #01456d;
    color: #c1d7e4;
  }

  #closeButton:active {
    background-color: #035A8B;
    color: #F8EE95;
  }

  h1 {
    margin: 0;
    background: url("img\rental_page.png") no-repeat;
    width: 100%;
    height: 350px;
  }

  .rental-page::before {
    content: "If you do not need lessons but you would like to rent a wetsuit or\A surf/kite equipment you can easily do it. We will help you choose the\A right option if you need advice.\A\A You can see the list of available gear below. If you have any specific\A request, let us know, we will try to help! ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-family: "Roboto";
    font-weight: Bold;
    color: white;
    text-align: center;
    white-space: pre;
  }

  table {
    font-family: "Roboto";
    font-size: 12px;
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  th {
    background-color: lightgray;
  }

  td,
  th {
    border: 1px solid #b4b4b4;
    text-align: left;
    padding: 8px;
    min-width: 80px;
  }

  /* Header styles */
  header {
    min-height: 30px;
    background-color: #035A8B;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  /* Styles for logo image in the header */
  #headerLogoImg {
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-right: 35px;
  }


  header ul {
    display: flex;
    list-style: none;
  }

  header li {
    margin-right: 20px;
  }

  header li > a {
    font-family: "Roboto";
    color: white;
    font-weight: bolder;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
  }

  /* Highlight current page */
  .rental-link {
    color: #F8EE95;
  }

  /* Footer styles */
  footer {
    min-height: 60px;
    background-color: #035A8B;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  footer nav {
    display: flex;
    flex-direction: row;
  }

  /* Position the copyright text */
  #copyrightInfo {
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #F8EE95;
    font-size: 8px;
  }

  footer ul {
    display: flex;
    list-style: none;
  }

  footer li {
    margin-right: 30px;
    list-style: none;
  }

  footer li > a {
    font-family: "Roboto";
    color: white;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
  }
}